

body {
    background-color: black;
}

#wrapper {
    margin: auto;
    width: 80%;
	min-width: 700px;
	max-width: 1024px;
}
nav ul {
    display: block;
    float: left;
    list-style: none;
    padding: 10px;
    margin-left: 30%;
    background-color: #50c878;
    border-radius: 15%;  
    font-size: large;
    font-weight: bold;
}

main {
    margin-left: 40%;
}

.headshot {
    border-radius: 50%;
}

header, main, footer {
    display: block;
    margin-left: 40%;
    color: #50c878;
    
}