

body {
    background-color: black;
}

#wrapper {
    margin: auto;
    width: 80%;
	min-width: 700px;
	max-width: 1024px;
}

nav {
    position: sticky;
    top: 0;
}

nav ul {
    display: block;
    list-style: none;
    padding: 10px;
    /*margin-left: 20%;*/
    background-color: #50c878;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

ul li {
    list-style: none;
}

ol li {
    list-style: none;
}



#resourcelinks ul li{
    list-style: none;
    text-align: center;
    
}

#resourcelinks ul li a img {
    width: 256px;
    padding-top: 25px;
}

#resourcelinks ul {
    background-color:  #50c878;
    border-radius: 15%;

}

nav ul li {
    color: black;
    display: inline;
    margin-left: 15%;
}

nav a:visited {
    color: black;
}

h2 {
    color: whitesmoke;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

.headshot {
    border-radius: 50%;
    margin: 10%;
}

header, main, footer {
    display: block;
    margin-left: 40%;
    margin-bottom: 5%;
    color: #50c878;
    
}

.centered {
    display: block;
    margin-left: 40%;
    margin-bottom: 5%;
}

.centered button {
    color: slategray;
}


/*-------------------------------------------------------------
                 Tablet Media Query
-------------------------------------------------------------*/

@media only screen and (max-width:1024px) {

}


/*-------------------------------------------------------------
                 Smartphone Media Query
-------------------------------------------------------------*/

@media only screen and (max-width:768px) {
    nav ul li {
       display: inline;
       align-items: center;
       margin: 0.5%;
       text-align: center;
    }

    nav ul {
        display: block;
        border-radius: 0%;
        margin-left: 0%;
        float: none;
        text-align: center;
        position: sticky;
        top: 0;
    }
    
    nav {
        position: sticky;
        top: 0;
    }

    header, main, footer {
        margin: auto;
        text-align: center;
    }



}